<div class="center-column">
  <div class="top-links">
    <a ng-href="/" target="_blank">Checkout Websockets in action!</a>
    <div class="sign-up-link">
      <a ng-href="#/users/sign_up">Sign up</a> / <a ng-href="#/users/sign_in">Sign in</a> to have personal and collaborative Todos!
    </div>
  </div>

  <div class="todo-form-container">
    <todo-form class="todo-form" todos="$ctrl.todos"></todo-form>
  </div>


  <div class="todos-container">
    <todos class="todos" todos="$ctrl.todos" on-remove-todo="$ctrl.removeTodo"></todos>
  </div>
</div>
